
@import "global.scss";
.container {
    padding-top: 400px;
}
.homepage-content {
    margin-top: $navBar-height;
  }
  
.container img {
    border-radius: 20px;
}

.jumbotron {
    padding: 3rem;
}
