
@import "global.scss";
.container {
    margin-top: $navBar-height;
}
.homepage-content {
    // margin-top: $navBar-height;
  }
  
.container img {
    border-radius: 20px;
}

.jumbotron {
    padding: 3rem;
}
