/* ServicesPage.scss */
@import 'global.scss';

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
  margin-top: 8rem;
  margin-bottom: 1.5rem;
  color: #333333;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 1rem;
}

.services {
 //margin-top: 50px!important;
  // margin-left: 10px;
  
}
.home-container {
  display: flex;
}

.services h3 {
  margin: 1rem 2rem;
}

.services p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
  color: #555555;
}

@media (max-width: 991px) {
  .services h2 {
    font-size: 2rem;
  }

  .services h3 {
    font-size: 1.5rem;
  }
}
